{% extends 'trabajaconnosotros.html' %}
{% load static %}



{% block controls %}
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Error al Grabar</strong> {{ form.errors }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

    {% endif %}

    <input type="hidden" name="action" value="{{ action }}">
    {{ form.as_p }}

    <output id="idImgContenedor" style="width: 200px !important;"></output>
{% endblock %}


