{% load static %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background: linear-gradient(white, rgb(192, 237, 255));">

        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            {% for nom in detalle %}
        <img src="{{ nom.get_image }}" alt="" width="110" height="55">
        {% endfor %}              
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
              <li class="nav-item lis">
                <a class="nav-link active" aria-current="page" href="">Principal</a>
              </li>
              <li class="nav-item lis">
                <a class="nav-link active" href="">Lineas</a>
              </li>
              <li class="nav-item lis">
                <a class="nav-link active" href="">Quienes Somos</a>
              </li>

              <li class="nav-item lis">
                <a class="nav-link active" href="{{url_anterior}}">Trabaja con Nosotros</a>
              </li>
                <li class="nav-item lis">
                <a class="nav-link active" href="">Modulos</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>